

.date-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.date-pagination a {
    padding: 8px 16px;
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.date-pagination a:hover {
    background-color: #e2e6ea;
}

.date-pagination span {
    font-size: 1.2em;
    margin: 0 10px;
}



.attendance__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.attendance-table {
    margin: 30px auto;
    width: 70%;
    text-align: center;
}

.attendance-table__inner {
    width: 100%;
}

.attendance-table__row {
    border-bottom: 1px solid #ddd;
}

.attendance-table__header {
    padding: 12px;
    width: 20%;
    font-weight: bold;
}

.attendance-table__item {
    padding: 12px;
    width: 20%;
}



